@media (max-width: 800px) {
  .name,
  .socials a,
  p {
    transform: scale(0.84);
  }

  .sticky-header .button {
    transform: scale(0.75);
    margin-top: -0.5%;
    margin-left: -0.6%;
    margin-right: -0.6%;
  }

  .sticky-header .button:hover {
    transform: scale(0.8);
  }

  .sticky-header {
    height: 60px;
  }

  .sticky-header .sun {
    transform: scale(0.75);
    text-decoration: none;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.1%;
    transition: all 0.3s ease-in-out;
  }

  .sticky-header .sun:hover {
    transform: scale(0.8);
  }

  .discord-card {
    transform: scale(0.75);
    margin-top: -1%;
  }

  .discord-card:hover {
    transform: scale(0.85);
  }

  main {
    margin-top: 75px;
  }

  .intro {
    flex-direction: column;
  }
}
