main {
    flex-direction: column;
    align-items: center;
    display: flex;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.introduction {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
}

.introduction span {
    font-weight: lighter;
    font-style: italic;
    margin: 10px;
}

.introduction .autism {
    color: #ff8f8f;
}

.cards {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #353535; /* Set your desired background color */
    z-index: -1; /* Ensures it's behind other content */
}