body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.intro {
    width: 100vw;
    height: 100vh;
    background-color: #7e7e7e;
}

.about-me {
    width: 100vw;
    height: 30vh;
    background-color: #000000;
}
