body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

header {
    height: 7vh;
    color: azure;
    position: fixed;
    width: 100%;
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    margin-left: 1%;
    margin-right: 1%;
    text-decoration: none;
    color: azure;
    background-color: #4c4c4c;
    padding: 0.6rem;
    border-radius: 5px;
    transition: all 0.1s;

    /* Define border from the get-go to not let other boxes move when hovered  */
    border: 1px solid rgba(0, 0, 0, 0);
}

header a:hover {
    border: 1px solid white;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: azure;
    background-color: #4c4c4c;
    /* insert bg image url there. */
    /* background-image: ""; */
}

.intro .name {
    font-size: 6rem;
    font-weight: bolder;
}

.about-me {
    width: 100vw;
    height: 30vh;
    background-color: #000000;
}
